In [23]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, BooleanType, ArrayType

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Test4").getOrCreate()

In [4]:
df = spark.read.csv("D:\\LAB\\Spark\\test1.csv")

df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [5]:
df.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|Age|Experience|Salary|
|     Abhi| 26|         4| 30000|
|    Oorja| 25|         2| 29000|
|    Sagar| 25|         1| 65000|
|   Chandi| 26|         4|   NaN|
|    Amiya| 25|         4| 95000|
|     Guru| 26|         4| 90000|
|  Ansuman| 26|         5| 70000|
|   Himesh| 26|         5| 98000|
|  Sangram| 26|         5| 32000|
|   Anukul| 25|         2| 28000|
|   Sravya|NaN|         2| 29000|
|Suryakant| 32|        10| 40000|
|    Jyoti|NaN|         9|   NaN|
|   Amrita| 35|        13|   NaN|
|   Amrita|NaN|       NaN|   NaN|
|      NaN| 33|        11| 58000|
+---------+---+----------+------+

In [6]:
df2 = spark.read.format("csv").load("D:\\LAB\\Spark\\test1.csv")
df2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [7]:
df2.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|Age|Experience|Salary|
|     Abhi| 26|         4| 30000|
|    Oorja| 25|         2| 29000|
|    Sagar| 25|         1| 65000|
|   Chandi| 26|         4|   NaN|
|    Amiya| 25|         4| 95000|
|     Guru| 26|         4| 90000|
|  Ansuman| 26|         5| 70000|
|   Himesh| 26|         5| 98000|
|  Sangram| 26|         5| 32000|
|   Anukul| 25|         2| 28000|
|   Sravya|NaN|         2| 29000|
|Suryakant| 32|        10| 40000|
|    Jyoti|NaN|         9|   NaN|
|   Amrita| 35|        13|   NaN|
|   Amrita|NaN|       NaN|   NaN|
|      NaN| 33|        11| 58000|
+---------+---+----------+------+

- This code reads the data into DataFrame columns "_c0" for the first column and "_c1" for the second and so on. and by default data type for all these columns is treated as String.

In [8]:
df3 = spark.read.option("header", True).csv("D:\\LAB\\Spark\\test1.csv")
df3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [9]:
df3.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Abhi| 26|         4| 30000|
|    Oorja| 25|         2| 29000|
|    Sagar| 25|         1| 65000|
|   Chandi| 26|         4|   NaN|
|    Amiya| 25|         4| 95000|
|     Guru| 26|         4| 90000|
|  Ansuman| 26|         5| 70000|
|   Himesh| 26|         5| 98000|
|  Sangram| 26|         5| 32000|
|   Anukul| 25|         2| 28000|
|   Sravya|NaN|         2| 29000|
|Suryakant| 32|        10| 40000|
|    Jyoti|NaN|         9|   NaN|
|   Amrita| 35|        13|   NaN|
|   Amrita|NaN|       NaN|   NaN|
|      NaN| 33|        11| 58000|
+---------+---+----------+------+

In [13]:
df4 = spark.read.options(inferSchema = "True", delimiter = ",").csv("D:\\LAB\\Spark\\test1.csv")

df4.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

- The default value of inferSchema is set to this option is False when setting to true it automatically infers column types based on the data. Note that, it requires reading the data one more time to infer the schema.

In [14]:
#alternate way of writing above code
df5 = spark.read.option("inferSchema", True).option("delimiter", ",").csv("D:\\LAB\\Spark\\test1.csv")
df5.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [15]:
df6 = spark.read.options(header = "True", inferSchema = "True", delimiter = ",").csv("D:\\LAB\\Spark\\test1.csv")
df6.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [16]:
df6.show()

+---------+----+----------+-------+
|     Name| Age|Experience| Salary|
+---------+----+----------+-------+
|     Abhi|26.0|       4.0|30000.0|
|    Oorja|25.0|       2.0|29000.0|
|    Sagar|25.0|       1.0|65000.0|
|   Chandi|26.0|       4.0|    NaN|
|    Amiya|25.0|       4.0|95000.0|
|     Guru|26.0|       4.0|90000.0|
|  Ansuman|26.0|       5.0|70000.0|
|   Himesh|26.0|       5.0|98000.0|
|  Sangram|26.0|       5.0|32000.0|
|   Anukul|25.0|       2.0|28000.0|
|   Sravya| NaN|       2.0|29000.0|
|Suryakant|32.0|      10.0|40000.0|
|    Jyoti| NaN|       9.0|    NaN|
|   Amrita|35.0|      13.0|    NaN|
|   Amrita| NaN|       NaN|    NaN|
|      NaN|33.0|      11.0|58000.0|
+---------+----+----------+-------+

- If you know the schema of the file ahead and do not want to use the inferSchema option for column names and types, use user-defined custom column names and type using schema option.

In [19]:
schema = StructType([StructField("RecordNumber", IntegerType(), True),\
                   StructField("Zipcode", IntegerType(), True),\
                   StructField("ZipCodeType", StringType(), True),\
                   StructField("City", StringType(), True),\
                   StructField("State", StringType(), True),\
                   StructField("LocationType", StringType(), True),\
                   StructField("Lat", DoubleType(), True),\
                   StructField("Long", DoubleType(), True),\
                   StructField("Xaxis",IntegerType(),True),\
                   StructField("Yaxis",DoubleType(),True),\
                   StructField("Zaxis",DoubleType(),True),\
                   StructField("WorldRegion",StringType(),True),\
                   StructField("Country",StringType(),True),\
                   StructField("LocationText",StringType(),True),\
                   StructField("Location",StringType(),True),\
                   StructField("Decommisioned",BooleanType(),True),\
                   StructField("TaxReturnsFiled",StringType(),True),\
                   StructField("EstimatedPopulation",IntegerType(),True),\
                   StructField("TotalWages",IntegerType(),True),\
                   StructField("Notes",StringType(),True)])

df7 = spark.read.format('csv').option("header", True).schema(schema).load("D:\\LAB\\Spark\\zipcodes-noheader.csv")

df7.printSchema()

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: integer (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

In [20]:
df7.show()

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        false|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| null|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| null|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        false|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| null|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        false|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| null|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        false|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        false|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| null|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84| null|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| null|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        false|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| null|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        false|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| null|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        false|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| null|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        false|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| null|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        false|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| null|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        false|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| null|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        false|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| null|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        false|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| null|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        false|            842|               1666|  28876493|         null|
|       76512|  27203|   STANDARD|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| null|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           8355|              15228| 215474318|         null|
|       76513|  27204|     PO BOX|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| null|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           1035|               1816|  30322473|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+

In [21]:
schema2 = StructType() \
      .add("RecordNumber",IntegerType(),True) \
      .add("Zipcode",IntegerType(),True) \
      .add("ZipCodeType",StringType(),True) \
      .add("City",StringType(),True) \
      .add("State",StringType(),True) \
      .add("LocationType",StringType(),True) \
      .add("Lat",DoubleType(),True) \
      .add("Long",DoubleType(),True) \
      .add("Xaxis",IntegerType(),True) \
      .add("Yaxis",DoubleType(),True) \
      .add("Zaxis",DoubleType(),True) \
      .add("WorldRegion",StringType(),True) \
      .add("Country",StringType(),True) \
      .add("LocationText",StringType(),True) \
      .add("Location",StringType(),True) \
      .add("Decommisioned",BooleanType(),True) \
      .add("TaxReturnsFiled",StringType(),True) \
      .add("EstimatedPopulation",IntegerType(),True) \
      .add("TotalWages",IntegerType(),True) \
      .add("Notes",StringType(),True)

df8 = spark.read.format("csv").option("header", True).schema(schema2).load("D:\\LAB\\Spark\\zipcodes-noheader.csv")

df8.printSchema()

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: integer (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

In [22]:
df8.show()

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        false|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| null|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| null|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        false|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| null|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        false|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| null|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        false|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        false|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| null|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84| null|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| null|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        false|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| null|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        false|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| null|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        false|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| null|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        false|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| null|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        false|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| null|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        false|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| null|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        false|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| null|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        false|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| null|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        false|            842|               1666|  28876493|         null|
|       76512|  27203|   STANDARD|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| null|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           8355|              15228| 215474318|         null|
|       76513|  27204|     PO BOX|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| null|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           1035|               1816|  30322473|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+

# Creating a temporary view on CSV file

In [38]:
#writing data from DataFrame to csv file
df6.write.option("header", True).mode("overwrite").csv("D:/LAB/Spark/jupyter_notebooks/Output")

In [42]:
spark.sql("create temporary view employee using csv options (path \'D:/LAB/Spark/jupyter_notebooks/Output/employee.csv')")
spark.sql("select * from employee").show()

+---------+----+----------+-------+
|      _c0| _c1|       _c2|    _c3|
+---------+----+----------+-------+
|     Name| Age|Experience| Salary|
|     Abhi|26.0|       4.0|30000.0|
|    Oorja|25.0|       2.0|29000.0|
|    Sagar|25.0|       1.0|65000.0|
|   Chandi|26.0|       4.0|    NaN|
|    Amiya|25.0|       4.0|95000.0|
|     Guru|26.0|       4.0|90000.0|
|  Ansuman|26.0|       5.0|70000.0|
|   Himesh|26.0|       5.0|98000.0|
|  Sangram|26.0|       5.0|32000.0|
|   Anukul|25.0|       2.0|28000.0|
|   Sravya| NaN|       2.0|29000.0|
|Suryakant|32.0|      10.0|40000.0|
|    Jyoti| NaN|       9.0|    NaN|
|   Amrita|35.0|      13.0|    NaN|
|   Amrita| NaN|       NaN|    NaN|
|      NaN|33.0|      11.0|58000.0|
+---------+----+----------+-------+

# Creating a temporary view on Partitioned CSV File

In [43]:
df6.write.partitionBy("Experience", "Salary").mode("overwrite").csv("D:/LAB/Spark/jupyter_notebooks/Output")

In [47]:
spark.sql("create temporary view employee using csv options (path \'D:/LAB/Spark/jupyter_notebooks/Output/Experience=4.0')")
spark.sql("select * from employee").show()

+------+----+-------+
|   _c0| _c1| Salary|
+------+----+-------+
|Chandi|26.0|    NaN|
| Amiya|25.0|95000.0|
|  Abhi|26.0|30000.0|
|  Guru|26.0|90000.0|
+------+----+-------+